.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.main-footer__copyright {
  display: flex;
  align-items: center;
  width: 127px;
  justify-content: space-between;
}


@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
