.main-form {
  text-align: center;
}

.main-form fieldset {
  border: none;
}

.main-form__name span {
  display: block;
}

.name-user__item input {
  height: 58px;
  width: 280px;
}

.main-form__contact input {
  height: 58px;
  width: 280px;
}

.main-form__contact span {
  display: block;
}
