.site-list {
  padding: 0;
  margin: 0 auto;
  height: 220px;
  color: #ffffff;
}

.site-list__link {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 56px;
    color: #000000;
  }
}
