.state-description__input {
  border: none;
  height: 150px;
  width: 280px;
  resize: none;
  background-color: @background-form-element;
  padding: 16px;
  margin-bottom: 56px;
}

.state-description__text {
  margin-bottom: 20px;
}
